* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
/* header*/
.header {
  display: flex;
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px);
  color: #FFFFFF;
}
nav {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.nav_ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.logo {
  /*margin-top: 14px;*/
  margin-left: 220px;
  margin-right: 63px;
  border: #FFFFFF 2px solid;
  width: 82px;
  height: 52px;
}
.logo_link {
  display: block;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 23px;
  text-align: center;
}
.item {
  margin-right: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.last_item {
  margin-right: 438px;
}
.copyright {
  margin-right: 220px;
}
/* giant_panda*/
.giant_panda {
  display: flex;
  flex-direction: column;
  background-image: url(../img/Giant\ Panda.png);
  height: 700px;
  margin: 0 auto;
  background-position: center;
}
.wrap {
  margin-top: 12px;
  margin-left: 807px;
  background-image: url(../img/Ellipse\ 6.png);
  background-position: top left;
  /*background: no-repeat;*/
  width: 465px;
  height: 465px;
}
.pandas_list {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  padding-top: 76px;
  padding-left: 73px;
  /*margin-bottom: 60px;*/
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase
}
.pandas_list_item {
  color: #FFFFFF;
}
.pandas_list_item_yellow {
  color: #FFEE2E;
}
.button_wrap {
  margin-left: 983px;
  margin-top: 60px;
}
.button_panda {
  display: block;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px; 
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
/*backstage*/

.backstage {
  height: 723px;
  display: flex;
  justify-content: space-around;
}
.backstage_item {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  width: 1161px;
  height: 403px;
}
.bambo_cap {
  background: url(../img/bamboo-cap.png);
  width: 609px;
  height: 403px;
}
.text_column {
  width: 465px;
  font-style: normal;
  font-weight: 400;
  color: #333B41;
}
.text_column_item {
  display: block;
  margin: 0;
}
.item_1 { 
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}
.item_2{
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 54px;
}
.item_3 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}
.item_4 {
  font-size: 16px;
  line-height: 140%;
}
/*pets*/
.pets {
  width: 1158px;
  height: 872px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item_pets {
  border: solid 1px #FA6F32;
  border-radius: 5px; 
  width: 366px;
  height: 426px;
  display: flex;
  flex-direction: column;
}
.item_img {
  width: 364px;
  height: 366px;
}
.card_1 {
  background: url(../img/Rectangle\ 5.png);
}
.card_2 {
  background: url(../img/Rectangle\ 5\ eagle.png);
}
.card_3 {
  background: url(../img/Rectangle\ 5\ gorilla.png);
}
.card_4 {
  background: url(../img/Rectangle\ 5\ sloth.png);
}
.card_5 {
  background: url(../img/Rectangle\ 5\ cheetas.png);
}
.card_6 {
  background: url(../img/Rectangle\ 5\ pingwin.png);
}
.card_text {
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: space-between;
}
.name {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.place {
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.pets_logo {
  margin-right: 12px;
  width: 37px;
  height: 37px;
}
.panda {
  background: url(../img/banana-bamboo_icon.png);
}
.fish {
  background: url(../img/meet-fish_icon.png);
}
.banana {
  background: url(../img/banana-bamboo_icon.png);
}
