* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header {
  background: #000000;
  width: 1600px;
  height: 80px;
  color: #FFFFFF;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}